html,body{
   margin:0;
   padding:0;
   background-color: lightgreen;
   text-align:center
}

#qr{
   padding:50px 0;
}

#title{
   color:black;
   text-shadow: 1px 1px 10px red;
   font-family: 'Courier New', Courier, monospace;
   font-size: 10rem;
}

@media(min-width:900px){
   #title{
   color:black;
   text-shadow: 1px 1px 10px red;
   font-family: 'Courier New', Courier, monospace;
   font-size: 5rem;
   }
}